<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Lists</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">
	</head>

	<body>
		<div id="root">
			<article-list :articles="articles" :searchstring="searchstring"></article-list>
		</div>

		<!-- <br></br>
		<h1>Example on vegibit.com </h1>

		<div id="myvueinstance" class="container">
		    <div class="row">UI List Element</div>

		    <input type="text" class="form-control" v-model="filterkey">

		    <table class="table table-hover">
		        <thead>
		        <tr>
		            <th><a href="#">id</a></th>
		            <th><a href="#">framework</a></th>
		        </tr>
		        </thead>

		        <tbody>
		        <tr v-for="framework in filteredFramework">
		            <td>{{ framework.id }}</td>
		            <td>{{ framework.framework }}</td>
		        </tr>
		        </tbody>
		    </table> -->
		</div>

		<script src="https://unpkg.com/vue@2.2.4"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>
